.social {
  @include ul-reset;
  display: flex;

  &__icon {
    height: 26px;
  }

  &__item {
    display: flex;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30px;

    &:hover,
    &:focus {
      .social__icon {
        fill: $color-violet;
      }
    }
  }

  &__name {
    @include hide-text;
  }

  &__icon {
    transition: all $transition-time;
  }
}