.social {
  @include ul-reset;
  display: flex;

  &__icon {
    height: 26px;
  }

  &__item {
    display: flex;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30px;

    &:hover,
    &:focus {
      .social__icon {
        fill: $color-violet;
      }
    }

    &--color-disc {
      max-width: 50px;
      height: 50px;
      color: $white;
      background-color: $color-violet;
      border-radius: 50%;
      transition: $transition-time;

      .social__icon{
        fill: $white;
        width: 40%;
        height: 100%;
      }

      &:hover,
      &:focus {
        background-color: #9658ff;
        .social__icon{
          fill: #fff !important;
        }
      }
    }

    &--fb {
      .social__icon {
        width: 27% !important;
        height: 100%;
      }
    }

    &--wp {
      .social__icon {
        width: 50% !important;
        height: 100%;
      }
    }
  }

  &__name {
    @include hide-text;
  }

  &__icon {
    transition: all $transition-time;
  }
}