.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &--opened {
    display: flex;
  }

  &__button-close-name {
    @include hide-text;
  }
}

.popup {
  display: none;
  position: relative;
  margin: auto;
  overflow: hidden;
  z-index: 7;
  width: 100%;
  height: 100%;

  &--opened {
    display: block;
  }
}

.modals{
  &__subtitle{
    margin: 0;
    margin-top: 15px;
    color: $black;
    text-align: center;
  }
}

.modals__overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
  display: none;
  cursor: pointer;
  background-color: rgba(0, 36, 50, .56);
}

.modals__dialog {
  padding: 20px 15px;
  position: relative;
  top: 0;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
}

.modals__content {
  position: relative;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--padding{

    @media (max-width: 480px) {
      padding-bottom: 50px;
      padding-top: 200px;
    }
  }

  &--height {
    justify-content: flex-end;
    height: 100%;
    padding: 30px 0;
    padding-top: 55px;
  }

  &--middle{
    max-width: 450px;
  }

}


.modals__close {
  position: absolute;
  padding: 0;
  top: 20px;
  left: 15px;
  z-index: 2;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  @media (max-width: $screen-sm) {
    width: 20px;
    height: 20px;
  }
}

.close {
  &:after,
  &:before {
    @include pseudo;
    width: 100%;
    height: 3px;
    background-color: $color-gray-light;
  }

  &:after {
    transform: rotate(-45deg);
  }

  &:before {
    transform: rotate(45deg);
  }
}

.modal-openstatus {
  &__form {
    max-width: 100% !important;
    width: 100%;
  }

  &__registration {
    display: none;
    margin: 0;
    margin-top: 20px;
    text-align: center;
    /*---- для текста что клиент не зарегестрирован ----*/
    &--active {
      display: block;
    }
  }

  &__registration-link {
    margin: 0 5px;
  }

  &--opened {
    display: flex;
  }
}

.modal-email {

  &__form {
    max-width: 100% !important;
    width: 100%;
    margin-top: 50px;
  }

  &--opened {
    display: flex;
  }
}

.modal-callback{
  &__form {
    margin-top: 40px;
    max-width: 100% !important;
    width: 100%;
  }

  &__label{
    &:not(:first-of-type){
      margin-top: 15px;
    }
  }

  &__button-send{
    margin-top: 20px;
  }

  &__subtitle{
    text-align: center;
    &:first-of-type {
      margin-top: 35px !important;
    }
  }

  &--opened {
    display: flex;
  }
}

.modal-accepted{

  &__title{
    margin-top: 40px;
    color: $color-gray-light;
  }

  &__icon{
    height: 80px;
    @media (max-width: $screen-sm) {
      height: 50px;
    }
  }
  &--opened {
    display: flex;
  }
}


.hidden {
  overflow: hidden;
}

