//- Все примеси в этом файле должны начинаться c имени блока (slider-card)

mixin slider-card(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов

  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' slider-card--' + modsList[i].trim();
      }
    }



  .slider-card(class=allMods)&attributes(attributes)
    ul.slider-card__list
      li.slider-card__item
        img(src="images/card-11.png")(alt='harita №1').slider-card__img
      li.slider-card__item
        img(src="images/card-22.png")(alt='harita №2').slider-card__img
      li.slider-card__item
        img(src="images/card-33.png")(alt='harita №3').slider-card__img
      li.slider-card__item
        img(src="images/card-44.png")(alt='harita №4').slider-card__img

