.payments {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 25px 0;

  @media (max-width: $screen-sm) {
    padding: 75px 0;
    height: auto;
  }

  @media (max-height: 780px) {
    height: auto;
  }

  &__inner {
    @include container;
    position: relative;

    @media (max-width: $screen-lg) {
      padding-bottom: 500px;
    }

    @media (max-width: $screen-md-small) {
      padding-bottom: 375px;
    }


    &:after {
      @include pseudo;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
      height: 600px;
      width: 325px;
      background-image: url('#{$imageDir}payments1.gif');
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: $screen-xl) {
        right: 60px;
        height: 444px;
        width: 240px;
      }

      @media (max-width: $screen-lg) {
        bottom: 0;
        right: 50%;
        top: auto;
        transform: translateY(0) translateX(50%);
      }

      @media (max-width: $screen-md-small) {
        bottom: 0;
        height: 330px;
        width: 180px;
      }
    }
  }

  &__list{
    margin-top: 40px;
  }
}