//- Все примеси в этом файле должны начинаться c имени блока (payments)

mixin payments(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов

  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' payments--' + modsList[i].trim();
      }
    }

  section.payments(class=allMods)&attributes(attributes)
    .payments__inner
      +title('Transferler ve ödemeler')
      +subtitle('Masrafsız para gönderin ve talep ediniz', 'black, text-small')
      +description("Anında arkadaşlarınıza veya ailenize yurtiçi ve yurtdışına para gönderin veya talep edin. Deneyiminizi daha iyi hale getirmek için notlar ve görüntüler ekleyin. 7 / 24 saat ücretsiz kullanılabilir.")
      +subtitle('Odemelerinizi otomatik yapın', 'black, text-small')
      +description('Kira veya aylık faturalarınız için otomatik ödeme talimatı veriniz ve sonrasında geç ödemeler konusunda asla endişelenmeyin.')
      img(src='images/payments-mob.png', alt="payments-img").payments__img