//- Все примеси в этом файле должны начинаться c имени блока (author)

mixin author(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов

  //- Вызов:
        +article()
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' author--' + modsList[i].trim();
      }
    }

  address.author(class=allMods)&attributes(attributes)
    img(src='images/author-foto.jpg', alt='Author foto').author__foto
    a(src='#').author__link
      strong.author__name Murat Şayir
    block