.banking-services {
  height: 100vh;
  padding: 220px 0;

  @media (max-width: $screen-lg) {
    padding: 100px 0 0;
    height: auto;
  }

  @media (max-width: $screen-md-small) {
    padding: 50px 0 75px;
  }


  &__inner {
    @include container;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding-bottom: 120px;

    @media (max-width: $screen-lg) {
      padding-bottom: 500px;
    }

    @media (max-width: $screen-md-small) {
      padding-bottom: 0;
    }

    &:after{
      @include pseudo;
      right: 0;
      top: 50%;
      transform: translateY(-58%);
      height: 600px;
      width: 540px;
      background-image: url('#{$imageDir}banking-services.png');
      background-repeat: no-repeat;
      background-size: contain;
      @media (max-width: $screen-xl) {
        height: 444px;
        width: 400px;
      }

      @media (max-width: $screen-lg) {
        bottom: 0;
        right: 50%;
        top: auto;
        transform: translateY(0) translateX(50%);
      }

      @media (max-width: $screen-md-small) {
        display: none;
      }
    }
  }

  &__form {
    margin-top: 40px;
  }

  &__label {
    margin-right: 15px;
  }
  &__button{
    @media (max-width: $screen-sm) {
      margin-top: 20px;
    }
  }
  &__img{
    display: none;
    @media (max-width: $screen-md-small) {
      display: block;
      width: 80%;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
