.banking-services {
  height: 100vh;
  padding: 220px 0;

  @media (max-width: $screen-lg) {
    padding: 100px 0 0;
  }

  @media (max-width: $screen-sm) {
    padding: 50px 0 35px;
    height: auto;
  }

  @media (max-height: 780px) {
    height: auto;
  }

  &__inner {
    @include container;
    position: relative;

    @media (max-width: $screen-lg) {
      padding-bottom: 500px;
    }

    @media (max-width: $screen-md-small) {
      padding-bottom: 375px;
    }


    &:after{
      @include pseudo;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 600px;
      width: 540px;
      background-image: url('#{$imageDir}banking-services.png');
      background-repeat: no-repeat;
      background-size: contain;
      @media (max-width: $screen-xl) {
        height: 444px;
        width: 400px;
      }

      @media (max-width: $screen-lg) {
        bottom: 0;
        right: 50%;
        top: auto;
        transform: translateY(0) translateX(50%);
      }

      @media (max-width: $screen-md-small) {
        bottom: 0;
        height: 330px;
        width: 300px;
      }
    }
  }

  &__form {
    margin-top: 40px;
  }

  &__label {
    margin-right: 15px;
  }
  &__button{
    @media (max-width: $screen-sm) {
      margin-top: 20px;
    }
  }
}
