//- Главная страница
extends ../../layouts/layout.pug

//- Подключения блоков
include ../../blocks/logo/logo.pug
include ../../blocks/social/social.pug
include ../../blocks/title/title.pug
include ../../blocks/subtitle/subtitle.pug
include ../../blocks/form/form.pug
include ../../blocks/form-email/form-email.pug
include ../../blocks/link/link.pug
include ../../blocks/input/input.pug
include ../../blocks/label/label.pug
include ../../blocks/list/list.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/privilege/privilege.pug
include ../../blocks/slider-card/slider-card.pug
include ../../sections/page-header/page-header.pug
include ../../sections/banking-services/banking-services.pug
include ../../sections/new-generation/new-generation.pug
include ../../sections/payments/payments.pug
include ../../sections/security/security.pug
include ../../sections/advantages/advantages.pug
include ../../sections/card-selection/card-selection.pug
include ../../sections/page-footer/page-footer.pug
include ../../sections/status/status.pug

block meta
  title Durumum
  meta(name='description', content='')

block head
  link(rel="stylesheet" href="styles/status-page.min.css")

block header
  +page-header('index.html')

block content
  +status()

block footer
  +page-footer()