.subtitle{
  margin: 0;
  margin-top: 35px;
  font-size: $font-size-h3;
  font-weight: 400;

  &:first-of-type{
    margin-top: 50px;
  }

  @media (max-width: $screen-sm) {
    text-align: center;
  }

  &--black{
    color: $black;
    text-transform: uppercase;
  }

  &--text-small{
    font-size: $font-size-h4;
    @media (max-width: $screen-md) {
      font-size: 16px;
    }
  }
}