.privilege{
  @include ul-reset;
  display: flex;
  margin-top: 40px;
  @media (max-width: $screen-md-small) {
    flex-direction: column;
    align-items: center;
  }

  &__item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    padding: 25px 20px;
    border: 2px solid rgba(215,222,224,.64);
    border-radius: 5px;
    &:not(:first-child){
      margin-left: 20px;
      @media (max-width: $screen-md-small) {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &--special{
      position: relative;
      &:after{
        @include pseudo;
        content: 'her başvuru için 10 TL';
        bottom: -27px;
        font-size: 13px;
      }
      @media (max-width: $screen-md-small) {
        margin-bottom: 15px;
      }
    }

    @media (max-width: $screen-md-small) {
      max-width: 290px;
      width: 100%;
      margin-left: 0;
    }

  }

  &__title{
    font-weight: 400;
    font-size: 20px;
    color: $black;
  }

  &__description{
    margin: 0;
    margin-top: 5px;
    color: #7633ff;
  }
}