//- Все примеси в этом файле должны начинаться c имени блока (page-footer)

mixin page-footer(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов
  //- Вызов:
        +page-footer()
          p «Подвал»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__inner
      +navigation()
        +logo(href='#').page-footer__link-logo
          svg.logo__icon.logo__icon--grey
            use(xlink:href='icons/sprite.svg#icon-logo22')
        ul.navigation__list.page-footer__list
          +navigation-item('Sık sorunlar', 'сommon-problems.html')
          +navigation-item('İletişim', '#')
          +navigation-item('Durumum', 'status-page.html')#openstatus.page-footer__item.page-footer__item--special
        +social().page-footer__social
          +social-item('facebook', '#', 'tw')
          +social-item('facebook', '#', 'fb')
          +social-item('facebook', '#', 'ig')
      section.page-footer__terms
        p.page-footer__description.
          Zenmo şu anda BDDK'ya kayıtlı değildir. Zenmo’ya erken erişim saglamak, Zenmo’nun bekleme listesinde olabilmeniz icin geçerli bir e-posta adresi ile kaydolmak demektir.  Zenmo’ya arkadaşlarınızı davet edin her yeni kayıtta siradaki pozisyonunuzu yukarıya taşıyın.
        p.page-footer__description.
          Bu web sitesindeki bilgiler genel ürün yönümüzü ve özelliklerimizi ana hatlarıyla belirtir. Bu bilgiler herhangi bir malzeme, kod veya işlevsellik sağlama teklifi, taahhüt, vaat eden yasal bir zorunluluk değildir.
        p.page-footer__description.
          Zenmo’nun bekleme listesine katılan her kişi için 10 TL bonus kazanıyor. #[br]
          Arkadaslarinizi davet edin Zenmo’nun öncelik listesine geçerli bir e-posta adresiyle kaydolmasıni sağlayın onlar da 10 tl bonus kazansınlar.
        p.page-footer__description.
          Zenmo Premium kartını almak, Zenmo’nun öncelik listesine geçerli bir e-posta adresiyle katılmak için 5 veya daha fazla kişiyi yönlendirmek olarak tanımlanır.
        p.page-footer__description.
          Bonus ve Zenmo Premium kartın teslimatını yalnızca ürünün tamamı piyasaya sürüldükten sonra gerçekleşmesi planlamaktadır, ancak şartlar, miktar, teslimat ve teslimatın zamanlaması önceden bildirilmeksizin değiştirme hakkina sahiptir.






