.article {
  &__link-time{
    text-align: center;
    color: $color-gray-dark;
  }

  &__time{
    color: $color-gray-light;
    &:hover{
      color: $color-violet;
    }
  }

  &__wrapper-foto{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    margin: 0;
    margin-top: 60px;
    @media (max-width: $screen-lg) {
      margin-top: 50px;
      height: 350px;
    }

    @media (max-width: $screen-sm) {
      margin-top: 30px;
    }
  }

  &__foto{
    height: 100%;
    @media (max-width: $screen-sm) {
      //height: 40px;
      height: auto;
    }
  }

  &__title {
    margin: 0;
    margin-top: 15px;
    font-size: $font-size-h1;
    font-weight: 400;
    color: $black;
    text-align: center;
    @media (max-width: $screen-sm) {
      font-size: 28px;
    }
  }

  &__body{
    margin-top: 65px;

    @media (max-width: $screen-lg) {
      margin-top: 50px;
    }

    @media (max-width: $screen-sm) {
      margin-top: 30px;
    }
  }

  &__text{
    margin: 0;
    color: $color-gray-dark;
    &:not(:first-of-type){
      margin-top: 20px;
    }
  }

  &__text-link{
    display:  inline-block;
  }

  &__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    @media (max-width: $screen-sm) {
      margin-top: 50px;
    }
  }

  &__footer-name-form{
    margin: 0;
    margin-top: 60px;
    font-size: 26px;
    color: $black;
  }

  &__footer-form{
    margin: 0;
    margin-top: 20px;
  }

  &__footer-text{
    margin: 0;
    color: $black;
    @media (max-width: $screen-sm) {
      text-align: center;
    }
  }

  &__social{
    margin-top: 20px;
    @media (max-width: $screen-sm) {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }
}