//- Главная страница
extends ../../layouts/layout.pug

//- Подключения блоков
include ../../blocks/logo/logo.pug
include ../../blocks/social/social.pug
include ../../blocks/title/title.pug
include ../../blocks/subtitle/subtitle.pug
include ../../blocks/form/form.pug
include ../../blocks/form-email/form-email.pug
include ../../blocks/link/link.pug
include ../../blocks/input/input.pug
include ../../blocks/label/label.pug
include ../../blocks/list/list.pug
include ../../blocks/navigation/navigation.pug
include ../../blocks/arrow/arrow.pug
include ../../sections/page-header/page-header.pug
include ../../sections/page-footer/page-footer.pug
include ../../sections/faq/faq.pug

block meta
  title Sık Sorunlar
  meta(name='description', content='')

block head
  link(rel="stylesheet" href="styles/сommon-problems.min.css")

block header
  +page-header('index.html')

block content
  +faq()

block footer
  +page-footer()
