.faq {
  padding: 50px 0 85px;

  @media (max-width: $screen-sm) {
    padding: 50px 0 85px;
  }

  &__inner {
    @include container;
  }

  &__title {
    margin: 0;
    font-size: $font-size-h1;
    font-weight: 400;
    color: $black;
    text-align: center;
    @media (max-width: $screen-sm) {
      font-size: 28px;
    }
  }

  &__list {
    @include ul-reset;
    margin: 0 auto;
    margin-top: 85px;

    @media (max-width: $screen-lg) {
      margin-top: 50px;
    }

    @media (max-width: $screen-sm) {
      margin-top: 30px;
    }
  }

  &__item {
    position: relative;
    padding: 30px 0;
    padding-right: 55px;
    border-top: 1px solid rgba(215,222,224,.64);

    &:last-child{
      border-bottom: 1px solid rgba(215,222,224,.64);
    }

    @media (max-width: $screen-sm) {
      padding-right: 30px;
    }
  }

  &__question {
    display: block;
    margin: 0;
    font-weight: 400;
    color: $black;
    cursor: pointer;

    @media (max-width: $screen-sm) {
      font-size: 22px;
    }
  }


  &__question--active{

    .faq__arrow{
      transform: rotate(90deg);
    }
  }

  &__answer {
    display: none;
    margin: 0;
    margin-top: 20px;
  }

  .faq__arrow--active{
    transform: rotate(90deg);
  }

}