//- Главная страница
extends ../../layouts/layout.pug

//- Подключения блоков
include ../../blocks/logo/logo.pug
include ../../blocks/social/social.pug
include ../../blocks/title/title.pug
include ../../blocks/form/form.pug
include ../../blocks/field-text/field-text.pug
include ../../blocks/link/link.pug
include ../../blocks/copyright/copyright.pug
include ../../blocks/input/input.pug
include ../../blocks/list/list.pug
include ../../sections/page-header/page-header.pug
include ../../sections/page-footer/page-footer.pug

block meta
  title Steck
  meta(name='description', content='')

block header
  +page-header()

block content

block footer
  +page-footer()