.card-selection {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 220px 0;
  margin-bottom: 70px;

  @media (max-width: $screen-lg) {
    padding: 100px 0 0;
    height: auto;
  }

  @media (max-width: $screen-sm) {
    padding: 75px 0 0;
  }

  @media (max-height: 780px) {
    height: auto;
  }

  &__inner {
    @include container;
    position: relative;
    text-align: center;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

  &__form {
    margin: 0 auto;
    margin-top: 40px;
  }

  &__label {
    margin-right: 15px;
  }

  &__button {
    @media (max-width: $screen-sm) {
      margin-top: 20px;
    }
  }
}