// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name: &; // #{$block-name}__element

  display: inline-block;
  white-space: nowrap;
  max-width: 100px;

  img {
    display: block;
    min-height: 40px;
  }

  &__icon{
    fill: $black;
    width: 100px;
    height: 40px;
    transition: $transition-time;
  }

  &:hover{
    .logo__icon{
      fill: $color-violet;
    }
  }

  &__icon--grey{
    fill: #9da1a3;
  }
}