.security {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 220px 0;

  @media (max-width: $screen-lg) {
    padding: 100px 0 0;
    height: auto;
  }

  @media(orientation: landscape) and (max-width: 900px){
    height: auto;
  }

  @media (max-width: $screen-md-small) {
    padding: 75px 0;
  }

  &__inner {
    @include container;
    position: relative;

    @media (max-width: $screen-lg) {
      padding-bottom: 520px;
    }

    @media (max-width: $screen-md-small) {
      padding-bottom: 0;
    }

    @media (orientation: landscape){
      height: auto;
    }

    &:after {
      @include pseudo;
      right: 70px;
      top: 50%;
      transform: translateY(-50%);
      height: 660px;
      width: 355px;
      background-image: url('#{$imageDir}security1.gif');
      background-repeat: no-repeat;
      background-size: contain;

      @media (max-width: $screen-xl) {
        right: 43px;
        height: 528px;
        width: 283px;
      }

      @media (max-width: $screen-lg) {
        bottom: 0;
        right: 50%;
        top: auto;
        transform: translateY(0) translateX(50%);
      }

      @media (max-width: $screen-md-small) {
        display: none;
      }
    }
  }

  &__list{
    margin-top: 40px;
  }

  &__img{
    display: none;
    @media (max-width: $screen-md-small) {
      display: block;
      width: 73%;
      margin-top: 150px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}