//- Все примеси в этом файле должны начинаться c имени блока (security)

mixin security(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов

  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' security--' + modsList[i].trim();
      }
    }

  section.security(class=allMods)&attributes(attributes)
    .security__inner
      +title('Güvenlik - kontrol sadece sende')
      +subtitle('kartınızı dondurun ve çözün', 'black, text-small')
      +description('Kartınızı kaybetmek artık bir sorun değil. Kaybederseniz, saniyeler içinde bir uygulamada dondurun, size yeni bir tane gönderelim. Eğer bulursanız, kartınızı çözün.')
      +subtitle('kartınızın nasıl çalıştığını kontrol edin', 'black, text-small')
      +description("Cebinizden ATM'den para çekme, online ödemeler, temassız ödemeleri, pin değiştirme, limit belirleme ve daha birçok işlemi dondurabilir veya aktif edebilirsiniz.")
      img(src='images/security-mob.png', alt="security-img").security__img