//- Все примеси в этом файле должны начинаться c имени блока (advantages)

mixin advantages(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов

  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' advantages--' + modsList[i].trim();
      }
    }

  section.advantages(class=allMods)&attributes(attributes)
    .advantages__inner
      +title('Faydalar').advantages__title
      ul.advantages__list
        +advantages-item('advantages1', 'Anında para transferi', 'Tek bir tıklamayla arkadaşlarınıza ve ailenize masrafsız para gönderin.')
        +advantages-item('advantages2', 'Yurtdışında kendinizi evinizde hissedin', "Uluslar arası tüm ATMler’den masrafsız para çekme imkanı.")
        +advantages-item('advantages3', 'Yurtdışında masrafsız harcama', 'Yurt dışına ödeme yaparken gerçek döviz kurunu alın.')
        +advantages-item('advantages4', 'Yapay zeka', 'Alımlarınızın otomatik kategorilendirilmesi.')
        +advantages-item('advantages5', 'Akıllı bildirimler', 'Satın alma işlemi yaptığınız anda anında bildirim alın.')
        +advantages-item('advantages6', 'Kişisel müşteri desteği', 'Beklemeden müşteri temsilcisi ile görüşün.')

mixin advantages-item(iconId, subtitle, text, mods)

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' advantages__item--' + modsList[i].trim();
      }
    }


  li.advantages__item(class=allMods)&attributes(attributes)
    svg.advantages__icon
      use(xlink:href='icons/sprite.svg#icon-' + iconId)
    strong.advantages__subtitle!= subtitle
    p.advantages__description!= text
