//- Все примеси в этом файле должны начинаться c имени блока (new-generation)

mixin new-generation(mods)

  //- Принимает:
  //-   mods  {string} - список модификаторов

  //- Вызов:
        +page-header()
          p «Шапка»
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
      allMods = allMods + ' new-generation--' + modsList[i].trim();
      }
    }

  section.new-generation(class=allMods)&attributes(attributes)
    .new-generation__inner
      +title('Yeni nesil “masrafsız”')
      +subtitle('masrafsız atm çekimleri', 'black, text-small')
      +description("Para çekmenin ücretsiz olması gerektiğine inanıyoruz. Bu nedenle ATM ücretlerini elimine etmeye karar verdik. Şimdi en yakın ATM'ye gidip bunu gerçekleştirip deneyimleyebilirsiniz.")
      +subtitle('yurtdışı harcamalarınız', 'black, text-small')
      +description('Ayrıca dünyanın finansal sınırlarının olmaması gerektiğine inanıyoruz. Zenmo ile, yurtdışında ücretsiz olarak para çekebilir veya harcamalarınızı dilediğiniz para birimlerinden komisyonsuz yapabilirsiniz.')
      img(src='images/new-generation-mob.png', alt="new-generation-img").new-generation__img