//- Стандартный шаблон страницы

//- Глобальные подключения
include ../blocks/button/button.pug
include ../blocks/modal/modal.pug

doctype html
html(class='page', lang='tr')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')

    block meta
      title Home

    block head
      link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")
      link(rel="dns-prefetch" href="//cdnjs.cloudflare.com/")
      link(rel="preconnect" href="//cdnjs.cloudflare.com/")
      link(rel="stylesheet" href="styles/index.min.css")

  body
    noscript У вас отключен JavaScript. Это пугает.
    .page__inner
      .page__content

        block header

        main.page-main
          block content

        .page__footer-wrapper
          block footer

      +modal()

    block bottom
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
      script(src="scripts/script.min.js")